$theme-colors: (
  "primary": #FFB4B4,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 3,
  5: $spacer * 5,
);

@import 'node_modules/bootstrap/scss/bootstrap';